/***MOBILE***/
@media only screen and (min-width: 400px) and (max-width: 762px) {
@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/***MENU_PRINCIPALE***/
.container__header
{
    @include column;

     &__bottom {
        @include column;
        background: #F7F7F7;
        width: 100%;
        height: 210px;
    & h2 {
        text-align: center;
        font-size: 24px;
        width: 60%;
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    & p {
        text-align: center;
        font-size: 18px;
        margin-bottom: 0;
        width: 80%;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    & button {
        margin-top: 27px;
        margin-bottom: 57px;
        border-radius: 25px;
        padding: 13px 18.75px;
        border: 0px;
        background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        color: white;
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;

    }
    }

    &__mid {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: #EAEAEA;
        justify-content: center;
        width: 100%;
        & p {
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
        }
    
        & span {
            margin-right: 17px;
        }
    }
}
.main__top {
    height: 370px;
    background: white;
    padding: 0 20px;
    & h3 {
        padding-top: 48px;
        font-size: 24px;
        margin-bottom: 26px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    & ul {
    list-style: none;
    display: flex;
    row-gap: 24.92px;
    flex-direction: column;
    padding: 0;
        & li {
            background: #F7F7F7;
            box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
            border-radius: 20px;
            font-size: 16px;
            padding: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
        & span:first-child {
            border-radius: 50%;
            background: #9356DC;
            padding: 5px 8px;
            color: white;
            position: absolute;
            left: 7px;
        }
        & span:last-child {
            margin-right: 27px;
            color: #7E7E7E;
            font-size: 20px;
            margin-left: 13px;
        & :hover {
            color: #9356DC;

        }
        }
    }
}
}
.main__bottom {
    background: #F7F7F7;
    display: flex;
    flex-direction: column;
    margin: 0 17px;
    & h3:first-child {
        font-size: 24px;
        margin-top: 54px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    &__cont {
        background: white;
        border-radius: 15px;
        &__imgtxt {
            display: flex;
            background: white;
            border-radius: 15px;
        & img {
            width: 100%;
             object-fit: cover;
            height: 231px;
            border-radius: 15px 15px 0 0;
        }
        & p {
            position: absolute;
            right: 29.2px;
            font-size: 16px;
            padding: 6px 9px;
            background: #99E2D0;
            box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
            border-radius: 2px;
            color: #008766;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
        }
        }
    &__under {
        margin-top: 0;
        border-radius: 0 0 15px 15px;
        background: white;
        height: 85px;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    & p {
        margin: 0;
        font-size: 24px;
        margin-top: 5px;
        margin-left: 12.81px;
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
    }
    & h4 {
        margin-top: 0px;
        font-size: 20px;
        margin-left: 12.81px;
        margin-bottom: 0;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
    }
    & a {
        text-decoration: none;
        color: black;
    }
    }
    .icon {
        margin-right: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
}
    & i {
        font-size: 22px;
    }
    & i:last-child {
        position: absolute;
        opacity: 0;
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
    }
    & i:first-child:hover {
        opacity: 0;
    }
    & i:last-child:hover {
        opacity: 1;   
    }
    }
}
}
.desktop__flex {
    display: flex;
    row-gap: 25px;
    flex-direction: column;
}
footer {
    display: flex;
    flex-direction: column;
    background: #353535;
    color: white;
    margin-top: 64px;
    padding: 0 25px;
    & h4 {
        font-style: italic;
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 16px;
    }
    & ul {
        margin: 0 0 33px 0;
        padding: 0;
        list-style: none;
    & li {
        margin-bottom: 7px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        cursor: pointer;
    & span {
        margin-right: 11px;
    }
    }
    }
}
/***TABLETTES PC***/
@media only screen and (min-width: 762px) and (max-width: 1400px) {
    @mixin column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /***MENU_PRINCIPALE***/
    .container__header
    {
        @include column;
    
         &__bottom {
            @include column;
            background: #F7F7F7;
            width: 100%;
            height: 210px;
        & h2 {
            text-align: center;
            font-size: 24px;
            width: 60%;
            margin-bottom: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
        & p {
            text-align: center;
            font-size: 18px;
            margin-bottom: 0;
            width: 80%;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        & button {
            margin-top: 27px;
            margin-bottom: 57px;
            border-radius: 25px;
            padding: 13px 18.75px;
            border: 0px;
            background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
            color: white;
            font-size: 16px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
    
        }
        }
    
        &__mid {
            display: flex;
            flex-direction: row;
            align-items: center;
            background-color: #EAEAEA;
            justify-content: center;
            width: 100%;
            & p {
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
        
            & span {
                margin-right: 17px;
            }
        }
    }
    .main__top {
        height: 262px;
        background: white;
        padding: 0 20px;
        & h3 {
            padding-top: 48px;
            font-size: 24px;
            margin-bottom: 26px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
        & ul {
        list-style: none;
        display: flex;
        column-gap: 10%;
        flex-direction: row;
        padding: 0;
            & li {
                background: #F7F7F7;
                box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
                border-radius: 20px;
                font-size: 16px;
                padding: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                width: 100%;
                text-align: center;
            & span:first-child {
                border-radius: 50%;
                background: #9356DC;
                padding: 5px 8px;
                color: white;
                margin-left: -33px;
            }
            & span:last-child {
                margin-right: 27px;
                color: #7E7E7E;
                font-size: 20px;
                margin-left: 13px;
            & :hover {
                color: #9356DC;
    
            }
            }
        }
    }
    }
    .main__bottom {
        background: #F7F7F7;
        display: flex;
        row-gap: 25px;
        flex-direction: column;
        & h3:first-child {
            font-size: 24px;
            margin-top: 54px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            margin-bottom: 0;
        }
        &__cont {
            background: white;
            border-radius: 15px;
            width: 30%;
            &__imgtxt {
                display: flex;
                background: white;
                border-radius: 15px;
            & img {
                width: 100%;
                 object-fit: cover;
                height: 231px;
                border-radius: 15px 15px 0 0;
            }
            & p {
                margin-left: -95px;
                height: 20px;
                font-size: 16px;
                padding: 6px 9px;
                background: #99E2D0;
                box-shadow: 0px 2px 4px rgb(0 0 0 / 15%);
                border-radius: 2px;
                color: #008766;
                text-align: center;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
            }
            }
        &__under {
            margin-top: 0;
            border-radius: 0 0 15px 15px;
            background: white;
            height: 85px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); 
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        & p {
            margin: 0;
            font-size: 24px;
            margin-top: 5px;
            margin-left: 12.81px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        & h4 {
            margin-top: 0px;
            font-size: 20px;
            margin-left: 12.81px;
            margin-bottom: 0;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
        }
        & a {
            text-decoration: none;
            color: black;
        }
        }
        .icon {
            margin-right: 25px;
        & i {
            font-size: 22px;
        }
        & i:last-child {
            opacity: 0;
        }
        & i:first-child:hover {
            opacity: 0;
        }
        & i:first-child:hover i:last-child {
            opacity: 1;
            background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

        }
        }
    }
    }
.desktop__flex {
    display: flex;
    column-gap: 26px;
}
    footer {
        display: flex;
        flex-direction: row-reverse;
        background: #353535;
        color: white;
        margin-top: 82px;
        padding: 0 25px;
        align-items: center;
        height: 114px;
        & h4 {
            font-style: italic;
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 16px;
            margin-right: 38px;
        }
        & ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            list-style: none;
            align-items: center;
            margin-top: 30px;
            margin-right: 31px;
        & li {
            margin-bottom: 7px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            cursor: pointer;
            margin-right: 40px;
            text-align: center;
        & span {
            margin-right: 11px;
        }
        }
        }
    }
    }