/***MOBILE***/
@media only screen and (min-width: 400px) and (max-width: 762px) {
    .container__header__menu__1 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &__icone {
            color: black;
        &:hover {
            color: black;
            cursor: pointer;
        }
        & a {
            color: black;
        }
    }
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .main__top {
        
    &__imgbloc {
        height: 275px;
        width: 100%;
    & img {
        width: 100%;
        object-fit: cover;
        max-height: 275px;
    }
    }
    }
    .main__bottom {
        background: #F6F6F6;
        width: 100%;
        border-radius: 30px 30px 0 0;
        box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
        margin-top: -50px;
        height: 1157px;
    
    &__1stcont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 17px 0 17px;
    &__title h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
    }
    &__icone {
        margin-right: 25px;
        display: flex;
    
    & i {
        font-size: 22px;
    }
    & i:last-child {
        position: absolute;
        opacity: 0;
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        right: 41.7px;
    }
    & i:first-child:active {
        opacity: 0;
    }
    & i:last-child:active {
        opacity: 1;
    
    }
    }
    }
    &__2ndcont {
        padding: 0 13px;
    
    &__title h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
    &__title h3:active {
        border-bottom: 3px #99E2D0 solid;
        padding-bottom: 5px;
        width: 40px;
    }
    }
    }
    .content {
        display: flex;
        justify-content: space-around;
        background: #FFFFFF;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        margin-bottom: 12px;
        height: 75px;
        cursor: pointer;
    .content:active &__button {
        display: flex;
        transform: scale(1);
    }
        &__txt {
            width: 100%;
            padding: 12px 0 12px 10px;
        }
        &__txt h4 , &__txt p {
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        &__txt h4 {
            font-weight: 500;
            font-size: 17px;
        }
        &__txt p {
            font-weight: 300;
            margin-top: 10px;
            font-size: 14.5px;
        }
        &__price {
            margin-top: 43px;
            margin-bottom: 0;
            margin-right: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 15px;
        & p {
            margin: 0;
        }
        }
        &__button {
            background: #99E2D0;
            height: 69px;
            width: 59px;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            height: 100%;
            width: 20%;
            border-radius: 0 15.0431px 15.0431px 0;
            transform: scale(0.1);
            transition: transform 4000ms;
    }
            button {
            border: 0px white;
            border-radius: 30px 30px 30px 30px;
            width: 20px;
            height: 20px;
            padding: 3px;
            background: white;
            color: #99E2D0;
            cursor: pointer;
        }
    }
    .main__bottom__2ndcont__button {
        margin-top: 28px;
        margin-bottom: 40px;
        padding: 13px 16px;
        display: flex;
        justify-content: center;
        & button {
            padding: 13px 16px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            border-radius: 25px;
            border: 0px;
            width: 186px;
            height: 50px;
            color: white;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            cursor: pointer;
        }
    }
    .animation__1  {
        animation-name: anim1;
        animation-duration: 3s;
    }
    @keyframes anim1 {
        from {
            scale: 0;
            margin-left: 100%;
        }
        to {
            scale: 1;
            margin-right: 0;
        }
        
    }
    .animation__2 {
        animation-name: anim2;
        animation-duration: 3s;
        animation-delay: 750ms;
        margin-top: 40px;
    @keyframes anim2 {
        from {
            scale: 0;
            margin-left: 100%;
        }
        to {
            scale: 1;
            margin-right: 0;
        }
        
    }
    }
    .animation__3 {
        animation-name: anim3;
        animation-duration: 3s;
        animation-delay: 1500ms;
        margin-top: 40px;
        @keyframes anim3 {
            from {
                scale: 0;
                margin-left: 100%;
            }
            to {
                scale: 1;
                margin-right: 0;
            }
            
        }
    }
    
    footer {
        display: flex;
        flex-direction: column;
        background: #353535;
        color: white;
        padding: 0 25px;
        & h4 {
            font-style: italic;
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 16px;
        }
        & ul {
            margin: 0 0 33px 0;
            padding: 0;
            list-style: none;
        & li {
            margin-bottom: 7px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            cursor: pointer;
        & span {
            margin-right: 11px;
        }
        }
        }
    }
    }
 /***TABLETTE***/
@media only screen and (min-width: 762px) and (max-width: 992px) {
    .container__header__menu__1 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        &__icone {
            color: black;
        &:hover {
            color: black;
            cursor: pointer;
        }
        & a {
            color: black;
        }
    }
    }
    main {
        display: flex;
        flex-direction: column;
    }
    .main__top {
        
    &__imgbloc {
        height: 275px;
        width: 100%;
    & img {
        width: 100%;
        object-fit: cover;
        max-height: 275px;
    }
    }
    }
    .desktop {
        padding: 0 80px;
    }
    .main__bottom {
        background: #F6F6F6;
        border-radius: 30px 30px 0 0;
        box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
        margin-top: -50px;
        padding: 0 100px;
    
    &__1stcont {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 17px 0 17px;
    &__title h2 {
        font-family: 'Shrikhand', cursive;
        font-weight: 400;
    }
    &__icone {
        margin-right: 25px;
        display: flex;
    
    & i {
        font-size: 22px;
    }
    & i:last-child {
        position: absolute;
        opacity: 0;
        background-clip: text;
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent; 
        background-clip: text;
        background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
        right: 221.7px;
    }
    & i:first-child:active {
        opacity: 0;
    }
    & i:last-child:active {
        opacity: 1;

    }
    }
    }
    &__2ndcont {
        padding: 0 13px;
    
    &__title h3 {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
    &__title h3:active {
        border-bottom: 3px #99E2D0 solid;
        padding-bottom: 5px;
        width: 40px;
    }
    }
    }
    .content {
        display: flex;
        justify-content: space-around;
        background: #FFFFFF;
        box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
        border-radius: 15.0431px;
        margin-bottom: 12px;
        height: 75px;
        cursor: pointer;
    .content:active &__button {
        display: flex;
        transform: scale(1);
    }
        &__txt {
            width: 100%;
            padding: 12px 0 12px 10px;
        }
        &__txt h4 , &__txt p {
            margin: 0;
            font-family: 'Roboto', sans-serif;
        }
        &__txt h4 {
            font-weight: 500;
            font-size: 16px;
        }
        &__txt p {
            font-weight: 300;
            margin-top: 10px;
            font-size: 13.5px;
        }
        &__price {
            margin-top: 43px;
            margin-bottom: 0;
            margin-right: 18px;
            font-family: 'Roboto', sans-serif;
            font-weight: 700;
            font-size: 15px;
        & p {
            margin: 0;
        }
        }
        &__button {
            background: #99E2D0;
            height: 69px;
            width: 59px;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            height: 100%;
            width: 20%;
            border-radius: 0 15.0431px 15.0431px 0;
            transform: scale(0.1);
            transition: transform 4000ms;
    }
            button {
            border: 0px white;
            border-radius: 30px 30px 30px 30px;
            width: 20px;
            height: 20px;
            padding: 3px;
            background: white;
            color: #99E2D0;
            cursor: pointer;
        }
    }
    .main__bottom__2ndcont__button {
        margin-top: 28px;
        margin-bottom: 40px;
        padding: 13px 16px;
        display: flex;
        justify-content: center;
        & button {
            padding: 13px 16px;
            background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
            border-radius: 25px;
            border: 0px;
            width: 186px;
            height: 50px;
            color: white;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            cursor: pointer;
        }
    }
    .animation__1  {
        animation-name: anim1;
        animation-duration: 3s;
    }
    @keyframes anim1 {
        from {
            scale: 0;
            margin-left: 100%;
        }
        to {
            scale: 1;
            margin-right: 0;
        }
        
    }
    .animation__2 {
        animation-name: anim2;
        animation-duration: 3s;
        animation-delay: 750ms;
        margin-top: 40px;
    @keyframes anim2 {
        from {
            scale: 0;
            margin-left: 100%;
        }
        to {
            scale: 1;
            margin-right: 0;
        }
        
    }
    }
    .animation__3 {
        animation-name: anim3;
        animation-duration: 3s;
        animation-delay: 1500ms;
        margin-top: 40px;
        @keyframes anim3 {
            from {
                scale: 0;
                margin-left: 100%;
            }
            to {
                scale: 1;
                margin-right: 0;
            }
            
        }
    }
    
    footer {
        display: flex;
        flex-direction: row-reverse;
        background: #353535;
        color: white;
        margin-top: -39px;
        padding: 0 25px;
        align-items: center;
        height: 114px;
        & h4 {
            font-style: italic;
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
            font-size: 18px;
            margin-bottom: 16px;
            margin-right: 38px;
        }
        & ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            list-style: none;
            align-items: center;
            margin-top: 30px;
            margin-right: 31px;
        & li {
            margin-bottom: 7px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            cursor: pointer;
            margin-right: 40px;
            text-align: center;
        & span {
            margin-right: 11px;
        }
        }
        }
    }
}
    /***DESKTOP***/
    @media only screen and (min-width: 992px) {
        .container__header__menu__1 {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            &__icone {
                color: black;
            &:hover {
                color: black;
                cursor: pointer;
            }
            & a {
                color: black;
            }
        }
        }
        main {
            display: flex;
            flex-direction: column;
        }
        .main__top {
            
        &__imgbloc {
            height: 275px;
            width: 100%;
        & img {
            width: 100%;
            object-fit: cover;
            max-height: 275px;
        }
        }
        }
        .desktop {
            padding: 0 193px;
        }
        .main__bottom {
            background: #F6F6F6;
            border-radius: 30px 30px 0 0;
            box-shadow: 0px 4px 15px rgb(0 0 0 / 15%);
            margin-top: -50px;
            padding: 0 100px;
        
        &__1stcont {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 10px 17px 0 17px;
        &__title h2 {
            font-family: 'Shrikhand', cursive;
            font-weight: 400;
        }
        &__icone {
            margin-right: 25px;
            display: flex;
        
        & i {
            font-size: 22px;
        }
        & i:last-child {
            position: absolute;
            opacity: 0;
            background-clip: text;
            -webkit-background-clip: text; 
            -webkit-text-fill-color: transparent; 
            background-clip: text;
            background-image: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
            right: 334.7px;
        }
        & i:first-child:hover {
            opacity: 0;
        }
        & i:last-child:hover {
            opacity: 1;
    
        }
        }
        }
        &__2ndcont {
            padding: 0 13px;
        
        &__title h3 {
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 300;
        }
        &__title h3:hover {
            border-bottom: 3px #99E2D0 solid;
            padding-bottom: 5px;
            width: 40px;
        }
        }
        }
        .content {
            display: flex;
            justify-content: space-around;
            background: #FFFFFF;
            box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
            border-radius: 15.0431px;
            margin-bottom: 12px;
            height: 75px;
            cursor: pointer;
        .content:hover &__button {
            display: flex;
            transform: scale(1);
        }
            &__txt {
                width: 100%;
                padding: 12px 0 12px 10px;
            }
            &__txt h4 , &__txt p {
                margin: 0;
                font-family: 'Roboto', sans-serif;
            }
            &__txt h4 {
                font-weight: 500;
                font-size: 17px;
            }
            &__txt p {
                font-weight: 300;
                margin-top: 10px;
                font-size: 14.5px;
            }
            &__price {
                margin-top: 43px;
                margin-bottom: 0;
                margin-right: 18px;
                font-family: 'Roboto', sans-serif;
                font-weight: 700;
                font-size: 15px;
            & p {
                margin: 0;
            }
            }
            &__button {
                background: #99E2D0;
                height: 69px;
                width: 59px;
                display: flex;
                justify-content: center;
                align-items: center;
                display: none;
                height: 100%;
                width: 20%;
                border-radius: 0 15.0431px 15.0431px 0;
                transform: scale(0.1);
                transition: transform 4000ms;
        }
                button {
                border: 0px white;
                border-radius: 30px 30px 30px 30px;
                width: 20px;
                height: 20px;
                padding: 3px;
                background: white;
                color: #99E2D0;
                cursor: pointer;
            }
        }
        .main__bottom__2ndcont__button {
            margin-top: 28px;
            margin-bottom: 40px;
            padding: 13px 16px;
            display: flex;
            justify-content: center;
            & button {
                padding: 13px 16px;
                background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
                box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
                border-radius: 25px;
                border: 0px;
                width: 186px;
                height: 50px;
                color: white;
                font-weight: 500;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                cursor: pointer;
            }
        }
        .animation__1  {
            animation-name: anim1;
            animation-duration: 3s;
        }
        @keyframes anim1 {
            from {
                scale: 0;
                margin-left: 100%;
            }
            to {
                scale: 1;
                margin-right: 0;
            }
            
        }
        .animation__2 {
            animation-name: anim2;
            animation-duration: 3s;
            animation-delay: 750ms;
            margin-top: 40px;
        @keyframes anim2 {
            from {
                scale: 0;
                margin-left: 100%;
            }
            to {
                scale: 1;
                margin-right: 0;
            }
            
        }
        }
        .animation__3 {
            animation-name: anim3;
            animation-duration: 3s;
            animation-delay: 1500ms;
            margin-top: 40px;
            @keyframes anim3 {
                from {
                    scale: 0;
                    margin-left: 100%;
                }
                to {
                    scale: 1;
                    margin-right: 0;
                }
                
            }
        }
        
        footer {
            display: flex;
            flex-direction: row-reverse;
            background: #353535;
            color: white;
            margin-top: -39px;
            padding: 0 25px;
            align-items: center;
            height: 114px;
            & h4 {
                font-style: italic;
                font-family: 'Shrikhand', cursive;
                font-weight: 400;
                font-size: 18px;
                margin-bottom: 16px;
                margin-right: 38px;
            }
            & ul {
                display: flex;
                flex-direction: row;
                padding: 0;
                list-style: none;
                align-items: center;
                margin-top: 30px;
                margin-right: 31px;
            & li {
                margin-bottom: 7px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                cursor: pointer;
                margin-right: 40px;
                text-align: center;
            & span {
                margin-right: 11px;
            }
            }
            }
        }
    }
    